@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: white;
}

#login-form-container {
  display: flex;
  justify-content: flex-end;
  height: 2em;
}

#google-auth {
  margin-right: 1em;
}

.nav-item {
  margin-left: 1.8em;
}

main {
  display: flex;
  flex-direction: column;
  // border: 1px solid green;
}

#store {
  display: flex;
  justify-content: flex-start;
}

#home-store {
  display: flex;
  justify-content: center;
}
#profile-icon-image {
  width: 8em; 
  background-color: whitesmoke; 
  border-radius: 50%;
}

#follow-count {
  margin-top: -.5em;
  font-size: 14px;
}
